body{
	background-color: rgb(45,43,43);
	color: rgb(240,240,240);
	font-family: "Calibri";
	width:100%;
}

#content {
	width: 100%;
	margin: 0 auto;
	text-align:center;
}

#application {
	position: absolute;
	top: 40%;
	padding-left: 26%;
}

#application div {
	display: inline;
	margin-right: 75px;
}

/*** Menu home ***/
#facturation {
	position: absolute;
	margin-left: -9%;
	top: 150px;
	font-size: 25px;
}

#devis {
	position: absolute;
	margin-left: -7%;
	top: 150px;
	font-size: 25px;
}

#histodevis {
	position: absolute;
	margin-left: -11%;
	top: 150px;
	font-size: 25px;
}

#gestion {
	position: absolute;
	margin-left: 19%;
	top: 150px;
	font-size: 25px;
}

/*** Menu Gestion DMC ***/
#classification {
	position: absolute;
	margin-left: -12%;
	top: 150px;
	font-size: 25px;
}

#articles {
	position: absolute;
	margin-left: -7.5%;
	top: 150px;
	font-size: 25px;
}

#clients {
	position: absolute;
	margin-left: -8%;
	top: 150px;
	font-size: 25px;
}

#societes {
	position: absolute;
	margin-left: 24.5%;
	top: 150px;
	font-size: 25px;
}

/** NAVBAR **/
.navbar {
	background-color: #FF8C00;
}

.navbar-brand , .navbar-nav>li>a {
	color: white !important;
}

.navbar-nav>.active>a {
	background-color: rgb(45,43,43) !important;
}

/** FORMULAIRE **/
#formulaire
{
    margin-left: 15%;
    margin-top: 3%;
}