body{
	background-color: rgb(45,43,43);
	color: rgb(240,240,240);
	font-family: "Calibri";
	width:100%;
}

#content {
	width: 100%;
	margin: 0 auto;
	text-align:center;
}

#application {
	position: absolute;
	top: 40%;
	padding-left: 23.5%;
}

#application div {
	display: inline;
	margin-right: 120px;
}

#application33 {
	position: absolute;
	top: 40%;
	padding-left: 32%;
}
#application33 div {
	display: inline;
	margin-right: 120px;
}

/*** Menu home ***/
#facturation {
	position: absolute;
	margin-left: -10.5%;
	top: 150px;
	font-size: 40px;
}

#devis {
	position: absolute;
	margin-left: -7.5%;
	top: 150px;
	font-size: 40px;
}

#histodevis {
	position: absolute;
	margin-left: -13.5%;
	top: 150px;
	font-size: 40px;
}

#gestion {
	position: absolute;
	margin-left: 22%;
	top: 150px;
	font-size: 40px;
}

/*** Menu Gestion DMC 
	- Général
***/
#articles {
	position: absolute;
	margin-left: -9%;
	top: 150px;
	font-size: 40px;
}

#clients {
	position: absolute;
	margin-left: -9.5%;
	top: 150px;
	font-size: 40px;
}

#societes {
	position: absolute;
	margin-left: 14%;
	top: 150px;
	font-size: 40px;
}

/*** Menu Gestion DMC 
	- Articles
***/
#achat {
	position: absolute;
	margin-left: -7.5%;
	top: 150px;
	font-size: 40px;
}

#main_oeuvre {
	position: absolute;
	margin-left: -12.5%;
	top: 150px;
	font-size: 40px;
}

#art_compo {
	position: absolute;
	margin-left: -10%;
	top: 150px;
	font-size: 40px;
}

#famille {
	position: absolute;
	margin-left: 22%;
	top: 150px;
	font-size: 40px;
}

/** NAVBAR **/
.navbar {
	background-color: #FF8C00;
}

.navbar-brand , .navbar-nav>li>a {
	color: white !important;
}

.navbar-nav>.active>a {
	background-color: rgb(45,43,43) !important;
}

/** FORMULAIRE **/
#formulaire
{
    margin-left: 15%;
    margin-top: 3%;
}

.table
{
	background: rgb(45,43,43);
	width: 80%;
    margin-left: 10%;
    margin-top: 3%;
}

th 
{
	text-align: center;
	font-size: 20px;
}

.ligne:hover 
{
	background-color: #FF8C00; 
}