{# app/Resources/views/lucky/number.html.twig #}
{% extends 'base.html.twig' %}

{% block Header %}
	<h1>Ressources</h1>
{% endblock %}

{% block Application %}
	<div><span> ID : {{ress}} </span></div>
{% endblock %}