{% extends 'base.html.twig' %}

{% block Navigation %}
	<li><a href="#">Page 2</a></li> 
	<li><a href="#">Page 3</a></li> 
{% endblock %}

{% block Header %}
	<h1>Gestion de la Base de données</h1>
{% endblock %}

{% block Application %}
	<div><span> Bienvenue dans la base de données <br/> Attention lorsque vous faites des modifications </span></div>
{% endblock %}
