{% extends 'base.html.twig' %}

{% block Header %}
	<h1>Gestion de la Base de données</h1>
{% endblock %}

{% block Application %}
	<div><span> Bienvenue dans la base de données <br/> Attention lorsque vous faites des modifications </span></div>
{% endblock %}
