{# app/Resources/views/lucky/number.html.twig #}
{% extends 'base.html.twig' %}

        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/Style.css') }}" />
        {% endblock %}

{% block title %}Devis Multi-Société{% endblock %}

{% block body %}
    <h1 id="coco">Lucky Numbers: Cocorico API</h1>
{% endblock %}